<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
      <img class="brand-logo" src="assets/logo-positronx-white.svg" alt="positronX.io Logo">
    </a>
  </nav>
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active">
                <i class="fas fa-user"></i>User Profile
              </a>
            </li>
            <!-- Calling SignOut() Api from AuthService -->
            <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i>Log out
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">User Profile</h1>
          </div>
          <!-- Show user data when logged in -->
          <div class="row" *ngIf="authService.userData as user">
            <div class="col-md-12">

                <google-map
                height="700px"
                width="100%"
                [zoom]="zoom"
                [center]="center"
                [options]="options"
                ><map-marker
                *ngFor="let marker of markers"
                [position]="marker.position"
                [label]="marker.label"
                [title]="marker.title"
                [options]="marker.options"
                >
                </map-marker></google-map>
                <button (click)="zoomIn()">Zoom in</button>
                <button (click)="zoomOut()">Zoom out</button>


<div>Latitude: {{center.lat}}</div>
<div>Longitude: {{center.lng}}</div>
<button (click)="realTimeUpdate()">update location</button>

<div>Your groups: {{userGroups }}</div>
<div>
  <h4>group select</h4>
  <div >
    
    <button type="button" *ngFor="let group of userGroups" (click)="selectGroup(group)">{{group}}</button>

  </div>
  <p> Selected group: {{selectedGroup}} </p>
  <div>
    <p>Group invites</p>

    <ul>
      <li *ngFor="let groupInvite of friendRequest">{{groupInvite.message}}<button (click)="(user.uid)">Accept invite to group</button></li>
    </ul>
    </div>
  <h4>invite to group</h4>
  <form (ngSubmit)="searchUser($event)">
    <input name="player" value="Name">
 </form>
        <div>
        <ul>
          <li *ngFor="let user of searchResults">{{user.displayName}}<button (click)="inviteFriend(user.uid)">Invite friend to group</button></li>
        </ul>
        </div>
    </div>
            <app-chat></app-chat>
              <div class="media">
                <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{user.photoURL}}"
                  alt="{{user.displayName}}">
                <div class="media-body">
                  <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                  <p>User ID: <strong>{{user.uid}}</strong></p>
                  <p>Email: <strong>{{user.email}}</strong></p>
                  <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>