<h1>chat:</h1>
<ng-container>
<button (click)="createChatService()">Make Chat</button>
    <div class="chat">
      <div class="msg" *ngFor="let item of source ;trackBy: trackByCreated">

        <div class="user">
          <img [src]="item.photoURL" style="height: 15px; border-radius: 50%;">
          <!-- <div>{{item.uid}}</div> -->
          <div>{{item.displayName}}</div>

          <!-- <div>{{ item.createdAt }}</div> -->

        </div>

        <p style="font-style: italic; font-size: medium;">{{ item.content }}</p>

      </div>

    </div>

    <div class="form">
      <input [(ngModel)]="newMsg" (keydown.enter)="submit()">

      <button (click)="submit()">Send</button>
    </div>

  </ng-container>